*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f2f4f7;
}

.container{
width:90%;
max-width:1000px;
margin:30px auto;
}

h1{
text-align:center;
margin-bottom:20px;
}

.card{

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px rgba(0,0,0,.15);

display:flex;

flex-direction:column;

gap:15px;

}

input{

padding:12px;

border:1px solid #ddd;

border-radius:5px;

font-size:16px;

}

button{

padding:12px;

border:none;

background:#0d6efd;

color:white;

cursor:pointer;

border-radius:5px;

font-size:16px;

}

button:hover{

background:#0b5ed7;

}

.searchBox{

margin:20px 0;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

th{

background:#0d6efd;

color:white;

padding:12px;

}

td{

padding:12px;

text-align:center;

border-bottom:1px solid #ddd;

}

.edit{

background:orange;

margin-right:5px;

}

.delete{

background:red;

}

#message{

text-align:center;

margin:15px;

font-weight:bold;

color:green;

}

@media(max-width:768px){

table{

font-size:13px;

}

button{

font-size:14px;

}

}